@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* ========== Variables ========== */
:root {
    /* Colors */
    --primary-color: #32cd32;
    --secondary-color: rgb(224, 224, 224);
    --light-color: #f5f5f5;
    --dark-color: black;
    /* Fonts */
    --header-font: "Poppins", Arial, Helvetica, sans-serif;
    --paragraph-font: "Roboto", Arial, Helvetica, sans-serif;
}

/* ========== GLobal Styles ========== */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--paragraph-font);
    transition: all 0.2s ease;
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    scroll-behavior: smooth;
    scroll-padding: 2rem;
}

body {
    min-height: 100vh;
    background-color: var(--light-color);
    position: relative;
}

/* ========== Font Styles ========== */

h1, h2, h3, h4, h5, h6 {
    font-family: var(--header-font);
    font-weight: 800;
}

p {
    font-family: var(--paragraph-font);
    font-weight: 300;
    font-size: clamp(16px, 3vw, 18px);
    text-wrap: pretty;
}

/* ========== Header ========== */

header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    width: 100%;
    top: 1rem;
    left: 0;
    padding: 1rem 3rem;
    height: clamp(3rem, 5vw, 6rem);
}

/* logo */

.logo-wrapper {
    height: inherit;
    margin-right: auto;
    display: flex;
    align-items: center;
    gap: 1rem;
}

#logo {
    height: 80%;
    filter: brightness(0) invert(100%);
}

.logo-wrapper h1 {
    font-size: clamp(1.5rem, 4vw, 3rem);
    color: var(--light-color);
}

/* nav */

nav ul {
    display: flex;
    list-style: none;
    gap: 5rem;
}

nav ul li a {
    color: var(--light-color);
    font-family: var(--header-font);
    font-weight: 600;
    font-size: 1.5rem;
    font-size: clamp(1rem, 3vw, 1.5rem);
}

/* hamburger */

#hamburger {
    display: none;
    width: 3rem;
    height: 1rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    cursor: pointer;
    position: relative;
}

.line {
    width: 100%;
    height: 3px;
    background-color: var(--light-color);
    border-radius: 100vmax;
}

#line-2 {
    width: 70%;
}

@media(max-width: 768px) {
    header {
        padding: 2rem 1rem;
    }

    nav {
        position: fixed;
        top: 0;
        right: 0;
        transform: translateX(100%);
        background-color: white;
        height: 100%;
        width: 45%;
        padding: 1rem;
        padding-top: 8rem;
        z-index: 100;
    }

    nav ul {
        flex-direction: column;
        text-align: right;
    }

    nav ul li a {
        color: var(--primary-color);
    }

    #hamburger {
        display: flex;
    }
}

/* hamburger nav open */

nav.open {
    transform: translateX(0);
}

.hamburger-open .line {
    background-color: var(--primary-color);
    width: 70%;
}

.hamburger-open #line-1 {
    transform-origin: 0% 50%;
    transform: rotate(45deg);
}

.hamburger-open #line-2 {
    transform-origin: 100% 50%;
    transform: rotate(-45deg) translate(1px, -17px);
}

/* ========== Hero Section ========== */

#hero-section {
    height: 95vh;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem;
    flex-wrap: wrap;
    border-bottom-right-radius: 75px;
    border-bottom-left-radius: 75px;
}

/* text column */

.text-col {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

h2 {
    font-size: clamp(1.5rem, 4vw, 3rem);
    text-wrap: pretty;
    color: white;
}

.text-col p {
    color: white;
}

/* image column */

.img-col {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-col img {
    width: clamp(200px, 30vw, 350px);
}

@media(max-width: 600px) {
    #hero-section {
        flex-direction: column;
        padding: 2rem;
        gap: 5rem;
    }

    .text-col {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
        gap: 2rem;
    }

    .text-col h2, .text-col p {
        text-align: center;
    }

    .text-col p {
        margin: 0 5vw;
    }
}

/* ========== Products Section ========== */

#products-section {
    min-height: 90vh;
}

#products-section h2 {
    margin: 5rem 0;
    text-align: center;
    color: var(--primary-color);
}

.product-imgs-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    width: clamp(300px, 80vw, 1200px);
    flex-wrap: wrap;
}

.product-imgs-container div {
    width: clamp(300px, 32.78%, 393px);
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product-imgs-container div .img-wrapper {
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
}

.img-wrapper img {
    width: 100%;
    object-fit: cover;
    transition: all 0.5s ease;
    filter: saturate(0.5);
}

.img-wrapper img:hover {
    transform: scale(1.1);
    filter: saturate(1);
}

.img-wrapper h3 {
    position: absolute;
    top: 3rem;
    left: 2rem;
    z-index: 10;
    color: white;
    font-weight: 600;
    font-size: clamp(1rem, 3vw, 1.5rem);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2px 10px;
    border-radius: 1rem;
    min-width: 7rem;
    text-align: center;
}

.img-wrapper h3::after {
    position: absolute;
    content: '';
    top: -10px;
    left: 0;
    border-radius: 2px;
    width: 50%;
    height: 5px;
    background-color: var(--primary-color);
    z-index: 10;
}

@media (max-width: 768px) {

    .img-wrapper img {
        filter: saturate(1);
    }

    .img-wrapper img:hover {
        all: unset;
    }

    .img-wrapper h3 {
        top: unset;
        left: unset;
        bottom: 10px;
        right: 10px;
    }

    .img-wrapper h3::after {
        display: none;
    }
}

/* === Gallery Animations === */
.product-imgs-container div .img-wrapper {
    opacity: 0;
    transform: scale(0.9);
    transition: all 1s ease;
}

.product-imgs-container div .img-wrapper:nth-child(odd) {
    transform-origin: 0% 100%;
}

.product-imgs-container div .img-wrapper:nth-child(even) {
    transform-origin: 100% 100%;
}

.product-imgs-container div .img-wrapper.animate {
    opacity: 1;
    transform: scale(1);
}

/* ========== Contact Section ========== */

#contact-section {
    min-height: 80vh;
    margin: 5rem auto 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color);
}

.contact-img {
    width: 40%;
    min-width: 290px;
    position: relative;
    border-radius: 5px;
    margin: 5rem;
}

.contact-img::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: -1rem;
    right: -1rem;
    background-color: white;
    border-radius: inherit;
    z-index: 0;
}

.contact-img img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 20%;
    border-radius: inherit;
    z-index: 2;
}

.contact-text-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 5rem 10rem;
}

.contact-text-container h2 {
    background-color: var(--secondary-color);
    padding: 0 2rem;
    color: var(--primary-color);
    border-radius: 5px;
}

.contact-text-container p {
    color: white;
    font-weight: 400;
    font-size: clamp(1rem, 3vw, 1.3rem);
}

.contact-wrapper {
    display: flex;
    gap: 2rem;
    align-items: center;
    width: fit-content;
    padding: 10px 1.5rem 10px 5px;
}

.contact-wrapper:hover {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color: white;

    h3, .contact-icon {
        color: var(--primary-color);
    }
}

.contact-wrapper h3, .contact-icon {
    color: white;
    font-size: clamp(1rem, 3vw, 2rem);
}

.contact-icon {
    font-family: 'Material Symbols Rounded';
    font-weight: normal;
    font-style: normal;
    font-size: 3rem;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
}

.contact-img p {
    color: white;
    font-weight: 500;
    font-size: clamp(1rem, 3vw, 1.5rem);
    position: absolute;
    top: 35%;
    left: 3rem;
    width: 30%;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.contact-img p::before {
    position: absolute;
    content: '';
    top: -10px;
    left: 0;
    border-radius: 2px;
    width: 70%;
    height: 5px;
    background-color: var(--primary-color);
}

.contact-img p span {
    font-weight: 800;
}

@media (max-width: 1024px) {
    #contact-section {
        flex-direction: column;
        height: fit-content;
    }

    .contact-text-container, .contact-img {
        width: 100%;
    }

    .contact-text-container {
        order: 2;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .contact-wrapper {
        flex-direction: column;
        gap: 1rem;
    }

    .contact-img {
        height: 60vh;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        order: 1;
    }

    .contact-img::after {
        right: 0;
        bottom: 0;
        background: linear-gradient(transparent, transparent, transparent, var(--primary-color));
        z-index: 2;
    }

}

@media (max-width: 425px) {
    .contact-img p {
        top: 30%;
        left: 10%;
    }
}

/* ========== Disclaimer Section ========== */

.disclaimer {
    margin: 0 auto 2rem;
    padding: 1rem;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;

    p {
        font-weight: 600;
        color: red;
        max-width: 800px;
    }
}

/* ========== Footer ========== */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

footer p {
    font-size: clamp(0.8rem, 2vw, 1rem);
}

.yt-link {
    display: flex;
    width: 300px;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.yt-link p {
    color: var(--primary-color);
    font-weight: 400;
    font-size: 1.5rem;
}

.youtube-img {
    width: 2rem;
    height: auto;
}

.yt-link:hover p {
    font-weight: 600;
}